<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<connectionStrings>

		<!-- ⭐ EF6 Database First dùng connection này -->
		<add name="ArenaCinemaEntities"
			 connectionString="metadata=res://*/CinemaModel.csdl|res://*/CinemaModel.ssdl|res://*/CinemaModel.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;Server=tcp:arenaapp.database.windows.net,1433;Initial Catalog=arenaapp;Persist Security Info=False;User ID=arenaapp;Password=Minh@212005;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;"
			 providerName="System.Data.EntityClient" />

		<!-- ⭐ Còn connection này chỉ dùng raw ADO.NET / SqlClient (tuỳ code bạn có dùng không) -->
		<add name="CinemaDBContext"
			 connectionString="Server=tcp:arenaapp.database.windows.net,1433;Initial Catalog=arenaapp;Persist Security Info=False;User ID=arenaapp;Password=Minh@212005;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
			 providerName="System.Data.SqlClient" />

	</connectionStrings>
</configuration>
